<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<link rel="stylesheet" href="/css/index.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>NestJS API Center</title>
  </head>
  <body>
		<div class="container">
			<h1>NestJS API - {{ version }}</h1>
			<p>This API project is made by Higor Alves</p>
		</div>
  </body>
</html>