%heading {
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
  @extend %heading;
}

h2 {
  font-size: $h2-font-size;
  @extend %heading;
}

h3 {
  font-size: $h3-font-size;
  @extend %heading;
}

h4 {
  font-size: $h4-font-size;
  @extend %heading;
}

h5 {
  font-size: $h5-font-size;
  @extend %heading;
}

h6 {
  font-size: $h6-font-size;
  @extend %heading;
}
