@import '../../assets/styles/partials/variables.scss';

.main {
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5rem;
}

.list {
  list-style: disc;
  margin-bottom: 1rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: $heading-3;
  }
  &-profile {
    flex-shrink: 0;
    width: 200px;
    border-radius: 50%;
  }

  & > div {
    margin-left: 20px;
  }
}
