.landing {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 54px 1fr minmax(80px, 400px);
  grid-template-columns: 1fr;
  min-height: 100vh;

  header {
    grid-area: header;
    padding: 4px;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    padding: 4px;
  }
}

.dashboard {
  display: grid;
  grid-template-areas:
    'header header'
    'aside main'
    'aside main'
    'footer footer';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 54px 1fr 1fr 40px;
  min-height: 100vh;

  header {
    grid-area: header;
    padding: 4px;
  }

  aside {
    grid-area: aside;
  }

  main {
    grid-area: main;
    padding: 4px;
  }

  footer {
    grid-area: footer;
    padding: 4px;
  }
}
