// -------------------- GRID SYSTEM -------------------- //

$gap-row: 0.3rem !default;
$gap-column: 0.3rem !default;
$quantity-of-columns: 24 !default;
$container-size-compensation: 2.25 !default;

$breakpoints: (
  xs: 20em,
  sm: 26.5625em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 100em
) !default;

$container: (
  xs: 20,
  sm: 26.5625 - $container-size-compensation,
  md: 48 - $container-size-compensation,
  lg: 62 - $container-size-compensation,
  xl: 75 - $container-size-compensation,
  xxl: 100 - $container-size-compensation
) !default;

// -------------------- COLORS -------------------- //

$body-color: #212529 !default;
$body-bg: #f8f9fa !default;

// -------------------- TYPOGRAPHY -------------------- //

$font-family-base: system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-size-root: 16px !default;
$font-size-base: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: 16 / 2 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
