@import '../../assets/styles/partials/variables.scss';

.repository {
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: $heading-3;
  }
  &-profile {
    flex-shrink: 0;
    width: 250px;
    border-radius: 50%;
  }

  & > div {
    margin-left: 20px;
  }
}
