name: CI - Test
on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'src/**.{js,jsx}'
      - 'src/**.{ts,tsx}'
      - '**.{json,js}'
      - 'package.json'
      - 'yarn.lock'
  pull_request:
    branches:
      - main
      - develop
    paths:
      - 'src/**.{js,jsx,ts,tsx}'
      - '**.{json,js}'
      - 'package.json'
      - 'yarn.lock'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
          check-latest: true
      - name: Install Dependencies
        run: yarn install
      - name: Run jest with CI option
        run: yarn test:ci
